meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Manejo integrado de la desnutrición aguda en niño menor de cinco (5) años
meta(meta name="description" content="En este componente formativo, se presenta lo que está definido para que los profesionales de la salud efectúen una adecuada identificación, tratamiento y seguimiento de los niños y niñas de 0 a 59 meses de edad que cursan con desnutrición aguda moderada o severa, de etiología primaria, entendida como carencia de alimentos, asociada o no con infecciones recurrentes")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")