h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Realizar la identificación, tratamiento y seguimiento de la desnutrición aguda en niños menores de 5 años teniendo en cuenta lineamientos técnicos.




