.container

    .header-ecored
        h1#tema-00 Introducción

    .card
        .card-body.px-4.mt-5
            .container
                .row 
                    .col-8
                        p.mt-5 El diagnóstico y tratamiento adecuado, racional y oportuno de la desnutrición aguda moderada o severa, reduce significativamente las tasas de mortalidad y aumentan la de supervivencia. Es necesario implementar estándares de detección y manejo terapéutico oportuno, para niños y niñas con desnutrición aguda, que garanticen un abordaje integral, dirigido tanto al establecimiento de su situación vital, como a la presencia y severidad de las condiciones acompañantes y sus complicaciones, incluyendo un abordaje terapéutico, que involucre escenarios de manejo y estabilización cautelosa.
                    .col 
                        img.fluid(src="assets/images/pages/tema-0/tema-0-1.svg")
                    .col-12.bg-verde-claro
                        .row.m-5
                            .col-10.mt-3.ml-5 
                                h3 Poner fin a la desnutrición aguda es un desafío social y político complejo, donde la prevención y las soluciones, a largo plazo, implican:
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-11
                                p Mejorar el acceso equitativo a los servicios de salud y a los alimentos nutritivos. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-11
                                p Promover la lactancia materna y las prácticas óptimas para la alimentación de lactantes, niños y niñas pequeños. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-11
                                p Mejorar el agua y el saneamiento.
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-11
                                p Planificar la escasez cíclica de alimentos. 
                        .row.mb-5.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-11
                                p La respuesta a las emergencias recurrentes. 
                    .col-12.my-5 
                        p El contenido aquí abordado, está basado en el Lineamiento técnico para el manejo integral de atención a la desnutrición aguda moderada y severa, en niños y niñas de 0 a 59 meses de edad, del Ministerio de Salud y Protección Social y de la UNICEF. Parte de la fisiopatología de la desnutrición aguda, en población de 0 a 59 meses de edad, la planificación de las fases de tratamiento (estabilización, transición, rehabilitación) y los criterios de decisión para la definición del escenario del manejo, ya sea a nivel hospitalario o ambulatorio para, posteriormente, puntualizar en el tratamiento, de acuerdo con los grupos de riesgo determinados, niños y niñas menores de seis meses de edad y el grupo entre 6 y 59 meses, con esta patología. Se espera que el aprendiz conozca y aplique esta herramienta de trabajo, para para la adecuada identificación, tratamiento y seguimiento de la desnutrición aguda moderada y severa, en niños y niñas de 0 a 59 meses de edad.  
