.container

    .header-ecored
        h1#tema-10 1. La desnutrición: formas, fisiopatología, diagnóstico y tratamiento

    .card
        .card-body.px-4.mt-5
            .container.mb-4
                .row 
                    .col-12.my-4
                        p La desnutrición, entendida como una enfermedad de origen social, es producto de la inseguridad alimentaria y nutricional en el hogar. Suelen ser los niños menores de 5 años los más afectados y se caracteriza por presentar deterioro en la composición corporal y alteraciones sistémicas de las funciones orgánicas y psicosociales, cuya gravedad dependerá de la calidad de la dieta consumida. 

                .header-arrow.my-5
                    .row 
                        .col-10.offset-1.my-4
                            h3.text-center De acuerdo con las OMS, la desnutrición se puede presentar de las siguientes formas: 

            section.pasos-protocolo.my-5.pt-5
                .container
                    .row.justify-content-center.mt-5

                        .col-12.col-sm-8.col-lg-4.mt-4
                            .card.bg-naranja 
                                .card-body.text-center
                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/tema-1/tema-1-1.svg").avatar-img.w-75
                                    .row.mb-4 
                                        .col-12.text-left
                                            h2.texto-25.mb-0.text-white Desnutrición 
                                            h2.texto-25.text-white aguda. 

                        .col-12.col-sm-8.col-lg-4.mt-4
                            .card.bg-verde
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/tema-1/tema-1-2.svg").avatar-img.w-75

                                    .row.mb-4 
                                        .col-12.text-left
                                            h2.texto-25.mb-0.text-white Retraso en 
                                            h2.texto-25.text-white talla.

                        .col-12.col-sm-8.col-lg-4.mt-4
                            .card.bg-verde-medio
                                .card-body.text-center

                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/tema-1/tema-1-3.svg").avatar-img.w-75

                                    .row.mb-4 
                                        .col-12.text-left
                                            h2.texto-25.mb-0.text-white Deficiencias 
                                            h2.texto-25.text-white de micronutrientes.
            .container.mb-4
                .row 
                    .col-12.mt-5
                        p Nos enfocaremos en la atención de la desnutrición aguda, que está asociada a la pérdida de peso reciente o a incapacidad para ganarlo; en la mayoría de los casos, se debe al bajo consumo de alimentos y/o presencia de enfermedades infecciosas. Se clasifica en moderada y severa, de acuerdo con los puntos de corte establecidos en la resolución 2465 de 2016. Se define como desnutrición aguda cuando el puntaje Z del indicador peso para la talla o longitud (P/T-L), se encuentra por debajo de menos dos desviaciones estándar (-2DE). Está asociada a pérdida de peso reciente o a incapacidad para ganarlo, dada en la mayoría de los casos por bajo consumo de alimentos y/o presencia de enfermedades infecciosas.
                        p.mt-4 Se define como desnutrición aguda cuando el puntaje Z del indicador peso para la talla o longitud (P/T-L), se encuentra por debajo de menos dos desviaciones estándar (-2DE). Está asociada a pérdida de peso reciente o a incapacidad para ganarlo, dada en la mayoría de los casos por bajo consumo de alimentos y/o presencia de enfermedades infecciosas. 
                .header-arrow.my-5
                    .row 
                        .col-10.offset-1.my-4
                            h3.text-center Cuando la desnutrición es severa, esta se puede manifestar a través de los siguientes fenotipos:
                
                .row.mt-5.mx-0   
                    .col-6.col-md-3.col-lg-2.offset-3.offset-md-0.offset-lg-1.mb-4.mb-md-0 
                        img(src="assets/images/pages/tema-1/tema-1-4.svg").avatar-img
                    .col-md-9.col-lg.ml-lg-5.bg-verde-claro 
                        p.p-5 #[strong Kwashiorkor:] Se caracteriza por la disminución de los niveles de albúmina por debajo de 2.5 g/dl, lo que lleva a una pérdida de la presión oncótica y edema bilateral progresivamente ascendente, que inicia en pies y manos, acompañado de signos clínicos de deficiencias nutricionales específicas que se reflejan en: lesiones en la piel, cambios en el color del cabello, alopecia difusa, atrofia de las papilas gustativas y queilosis, entre otros. 
                
                .row.mt-5.mx-0   
                    .col-6.col-md-3.col-lg-2.offset-3.offset-md-0.offset-lg-1.mb-4.mb-md-0 
                        img(src="assets/images/pages/tema-1/tema-1-5.svg").avatar-img
                    .col-md-9.col-lg.ml-lg-5.bg-verde-claro 
                        p.p-5 #[strong Marasmo:] Se caracteriza por delgadez extrema, dada por el agotamiento de la reserva muscular y grasa (deficiencia energética), y la pérdida de tejido celular subcutáneo, piel seca, opaca y quebradiza. Este cuadro clínico se asocia con ingesta deficitaria y continuada de proteínas, calorías no proteicas y micronutrientes, un déficit calórico por malnutrición.
            
                .row.mt-5.mx-0   
                    .col-6.col-md-3.col-lg-2.offset-3.offset-md-0.offset-lg-1.mb-4.mb-md-0 
                        img(src="assets/images/pages/tema-1/tema-1-6.svg").avatar-img
                    .col-md-9.col-lg.ml-lg-5.bg-verde-claro 
                        p.p-5 #[strong Marasmo - Kwashiorkor: ] Se presenta cuando se acentúa la pérdida de albúmina y la presión oncótica en un niño que cursa con emaciación extrema y desarrolla edema bilateral. Sucede porque se presenta una infección concurrente y se altera la relación proteica/calórica.
                    .col-12.mt-5 
                        p La desnutrición aguda es ocasionada por un bajo aporte energético sostenida por un determinado tiempo, que conlleva a una alteración de la homeostasis corporal y cambios adaptativos en el organismo, para asegurar y mantener las funciones esenciales para la supervivencia. #[strong En períodos de privación de alimentos y dependiendo de cuánto tiempo ha transcurrido desde el inicio de esta carencia, se presenta una disminución de la glucosa postprandial circulante y suele ocurrir lo siguiente:]
            .container 
                section.pasos-protocolo.my-5.pt-5
                    .container
                        .row.justify-content-center.align-items-stretch.mt-5

                            .col-12.col-sm-8.col-lg-4.mt-4.bg-verde-DDD.br-card 
                                .card-body.text-center
                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/tema-1/tema-1-7.svg").avatar-img.w-75
                                    .row.mb-5.mb-xl-4
                                        .col-12.text-left
                                            h3 2 a 4 horas
                                            p.my-4.pb-xl-4   La hipoglicemia induce la disminución de niveles de insulina en sangre y el consumo de glucosa en los tejidos muscular, adiposo y hepático, sin afectar inicialmente el metabolismo neuronal ni de los hematíes. Para mantener los niveles de glicemia, se activa el proceso de glucogenólisis en el hígado y de glucólisis en el músculo.

                            .col-12.col-sm-8.col-lg-4.mt-4.bg-verde-DEDE.br-card
                                .card-body.text-center
                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/tema-1/tema-1-7.svg").avatar-img.w-75
                                    .row.mb-4 
                                        .col-12.text-left
                                            h3 8 a 10 horas
                                            p.mt-4 Agotadas las reservas de glucógeno, como mecanismo de regulación se aumentan los niveles sanguíneos de hormonas contrarreguladoras (glucagón, noradrenalina y cortisol). Por acción del glucagón se realiza la síntesis de glucosa a través de la gluconeogénesis, partiendo de precursores proteicos en el músculo, con aminoácidos gluconeogénicos que ceden sus carbonos al lactato y al piruvato.

                            .col-12.col-sm-8.col-lg-4.mt-4.bg-verde-DDD.br-card
                                .card-body.text-center
                                    .avatar.avatar-super.card-avatar.card-avatar-top
                                        img(src="assets/images/pages/tema-1/tema-1-7.svg").avatar-img.w-75
                                    .row.mb-4 
                                        .col-12.text-left
                                            h3 Más allá de 24 a 36 horas
                                            p.my-3.my-xl-4 La noradrenalina y el cortisol estimulan la lipólisis, que lleva a la degradación de ácidos grasos por medio de procesos de beta oxidación mitocondrial hepática, con producción de energía y de cuerpos cetónicos. Los aminoácidos inicialmente utilizados serán los que se encuentran menos disponibles para la síntesis general de proteínas, derivados del músculo, piel y mucosas.
        #slider

            #carouselExampleIndicators.carousel.slide(data-interval="false")
                .carousel-inner.bg-verde-claro
                    .carousel-item.active
                        .row.mx-0.p-5
                            .col-10.offset-1
                                p Se presenta una reducción en los niveles sanguíneos de insulina, IGF1 (del inglés: insulin-like growth factor-1) y de las hormonas de crecimiento y tiroidea que producen desaceleración del metabolismo y, por lo tanto, del crecimiento. La síntesis de proteína disminuye generando desgaste muscular, incluso del miocardio. Los cambios metabólicos conllevan reducción de la actividad física, lentificación del crecimiento corporal, reserva funcional orgánica y disminución de las respuestas inflamatorias e inmunitarias.
                    .carousel-item
                        .row.mx-0.p-5
                            .col-10.offset-1
                                p Al prolongarse la falta de provisión de alimentos, se desencadenan alteraciones funcionales responsables de la morbimortalidad, a causa del elevado uso de proteínas durante la gluconeogénesis. De mantenerse el ayuno, continúan los procesos de hidrólisis de lípidos, la glucogenólisis y gluconeogénesis, ocasionando disminución progresiva del tejido muscular.
                    .carousel-item
                        .row.mx-0.p-5
                            .col-10.offset-1 
                                p El estrés metabólico aumentado, genera que se liberen citoquinas de predominio preinflamatorio, que alteran la respuesta a la infección e incrementan el estrés celular, agudizan el hipercatabolismo, se agotan los mecanismos adaptativos llevando al rápido deterioro de las funciones corporales. Se han identificado otros marcadores que influyen negativamente sobre los efectos del catabolismo, el apetito y la densidad de tejido adiposo. 
                    .carousel-item
                        .row.mx-0.p-5
                            .col-10.offset-1 
                                p Cuando el estado de ayuno o de deficiente ingesta de alimentos se prolonga por más de 3 a 4 días, el balance hormonal homeostático entre la insulina y las hormonas contrarreguladoras se pierde y cambia el estado metabólico, para continuar la degradación de tejido muscular y graso que, a medida que se prolonga, se acentúa en las dos situaciones clínicas de desnutrición grave, definidas en dos fenotipos: marasmo y kwashiorkor.                                                                      
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next      

    .card
        .card-body.px-4.mt-5
            .container.mb-4
                .row 
                    .col-10.col-lg-7.my-4
                        h2.texto-negro Fórmulas terapéuticas para el tratamiento de la desnutrición aguda moderada y severa 
                .row 
                    .col.d-none.d-md-flex 
                        img(src="assets/images/pages/tema-1/tema-1-8.svg").avatar-img                
                    .col-12.col-md-9.align-self-center.mr-4
                        p #[strong El país acoge la recomendación de la OMS ] de utilizar la Fórmula Terapéutica Lista para el Consumo, en adelante FTLC, en el manejo ambulatorio, la cual puede utilizarse con seguridad en condiciones extremas de temperatura y bajo acceso al agua y al combustible para la preparación de alimentos, dado que se administra sin medidas adicionales de refrigeración o cocción.
                .row.mt-5 
                    .col-7.col-md-3.col-lg-3.p-3.bg-naranja 
                        h2.text-white.text-center.mb-0  Características
                    .col-12.mt-5 
                        img(src="assets/images/pages/tema-1/tema-1-9.svg").fluid.w-100
                .row.mt-5
                    .col-12 
                        img(src="assets/images/pages/tema-1/tema-1-10.svg").fluid.w-100
                    .col-12
                        .header-arrow.my-0
                            .row 
                                .col-10.offset-1.my-4
                                    h3.text-center Adicional al alto valor nutricional en cuanto al aporte de proteínas, energía y micronutrientes, 
                                    h3.text-center la FTLC debe cumplir las siguientes características:
                    .col-12.mt-5 
                        img(src="assets/images/pages/tema-1/tema-1-11.svg").fluid.w-100
                .row.mt-5 
                    .col-10.col-sm-7.col-md-5.col-lg-4.mt-4.p-3.bg-naranja.text-center 
                        h2.text-white.mb-0  Fórmula terapéutica F-75 
                .row.mt-5
                    .col.d-none.d-md-flex 
                        img(src="assets/images/pages/tema-1/tema-1-12.svg").avatar-img                
                    .col-12.col-md-9.align-self-center.mr-4
                        p Está indicada para el manejo hospitalario de niños y niñas entre 0 y 59 meses de edad con desnutrición aguda, cumple con los estándares establecidos por la OMS para el manejo de la desnutrición aguda y aporta 75 kcal en 100 ml. Para menores entre 0 y 6 meses de edad con desnutrición aguda moderada o severa, se puede administrar F-75 diluida, sola, o como alimento complementario, junto con la leche materna.
                .row.mt-5 
                    .col-10.col-sm-7.col-md-5.col-lg-4.mt-4.p-3.bg-naranja.text-center 
                        h2.text-white.mb-0  Diagnóstico
                    .col-12.mt-5
                        .header-arrow.my-0
                            .row 
                                .col-10.offset-1.my-4
                                    h3.text-center Para el diagnóstico, deben tenerse en cuenta tres elementos fundamentales:
                    .col-12.mt-5.text-center
                        img(src="assets/images/pages/tema-1/tema-1-13.svg").mt-5.w-100
                .row.mt-5 
                    .col-12.mt-4 
                        p.font-weight-bold Profundicemos el estudio de cada uno de ellos.
                    .col-8.col-lg-5.my-4 
                        h3.texto-negro.mt-3 Diagnosticar la existencia y severidad de la desnutrición aguda
                    .col-12.mt-5 
                        p.mt-2 El diagnóstico se establece basándose en parámetros antropométricos y clínicos; con respecto a estos últimos, se hará especial mención a los signos clínicos, que se asocian con mayor riesgo de mortalidad, como son:
                .row.mt-5 
                    .col-12
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10
                                p La existencia de edema nutricional. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10
                                p La disminución del perímetro del brazo.
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10
                                p La pérdida de apetito (evaluada con la prueba de apetito).
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10
                                p Las patologías concomitantes.
                    .col-12.mt-5 
                        p #[strong Valoración antropométrica: ] la clasificación antropométrica de la desnutrición aguda se establece en función del indicador P/T-L. De acuerdo con lo indicado en la Resolución 2465 de 2016, la desnutrición aguda tiene la siguiente clasificación y puntos de corte:
                    
                        table(style='width:100%').mt-5
                            tr.bg-naranja
                                th.p-4.text-center.text-white.border Indicador antropométrico
                                th.text-center.text-white.border 
                                    p.font-weight-bold.m-0 Punto de corte 
                                    p.font-weight-bold.m-0 Desviaciones estándar DE.
                                th.pl-4.text-white.border Clasificación 
                            tr
                                <td rowspan="4" class="border bg-naranja-claro font-weight-bold text-center"><p class="m-0 Font-weight-bold"> Peso para la Talla (P/T)</p></td>
                                td.p-3.bg-naranja-claro.text-center.border ≥ -1 a ≤ +1
                                td.py-3.pl-4.bg-naranja-claro.border Peso adecuado para la talla
                            tr
                                td.p-3.bg-naranja-opaco.text-center.border ≥ -2 a < -1
                                td.py-3.pl-4.bg-naranja-opaco.border Riesgo de desnutrición aguda
                            tr
                                td.p-3.bg-naranja-claro.text-center.border < -2 a ≥ -3
                                td.py-3.pl-4.bg-naranja-claro.border Desnutrición aguda moderada
                            tr
                                td.p-3.bg-naranja-opaco.text-center.border < -3
                                td.py-3.pl-4.bg-naranja-opaco.border Desnutrición aguda severa
                    .col-12.mt-5 
                        p #[strong Valoración clínica: ] Además de la valoración antropométrica, la evaluación de los niños y niñas con desnutrición aguda debe complementarse con una detallada historia clínica y examen físico, que deberán realizarse en cada contacto del niño con el servicio de salud, tanto en el momento del diagnóstico inicial como en el seguimiento. #[strong La valoración clínica consta de al menos dos procesos fundamentales:]
                .row.mt-5
                    .col.d-none.d-md-flex 
                        img(src="assets/images/pages/tema-1/tema-1-14.svg").avatar-img                
                    .col-12.col-md-8.align-self-center.mr-4
                        h3 Anamnesis: 
                        p.mt-2 La historia clínica contendrá elementos relacionados con la evaluación nutricional, médica, familiar y social, fundamentales para la valoración integral. Se indaga sobre aspectos como: el crecimiento y el desarrollo del niño, síntomas que presente o haya presentado recientemente, como fiebre, tos, diarrea, infecciones en la piel, ojos, u otros, que sugieren infecciones, cambios en conducta como letargia, irritabilidad, hipoactividad, pérdida del apetito, condiciones preconcepcionales, prenatales, historia del nacimiento.
                    .col-12.mt-5 
                        p Asimismo, si ha presentado desnutrición, alergias, hospitalizaciones, procedimientos quirúrgicos, vacunación, patologías familiares, edad de adquisición de hitos del desarrollo, práctica de lactancia materna y alimentación complementaria, momento de inicio de alimentos sólidos y semisólidos, consumo de alimentos en términos de frecuencia, porciones, variedad, consistencia, horarios, rutinas, cantidad de líquidos ofrecidos y recibidos, características de la dieta familiar y de los cuidadores del niño, así como los ambientes donde se prepara y se consume, factores socioeconómicos, ocupación, tamaño de la familia, prácticas de cuidado y de alimentación, condiciones de vivienda, condiciones laborales de la familia, creencias sobre alimentación, entre otros.
                .row.mt-5
                    .col.d-none.d-md-flex 
                        img(src="assets/images/pages/tema-1/tema-1-15.svg").w-75                
                    .col-12.col-md-8.align-self-center.mr-4
                        h3 Examen físico: 
                        p.mt-2 Se realiza con el propósito de identificar signos que sugieran patologías agudas, crónicas, compromiso somático y determinar el grado de desnutrición. Debe incluirse la toma de signos vitales (frecuencia cardíaca, frecuencia respiratoria, tensión arterial, temperatura, perímetro cefálico, perímetro del brazo), la toma e interpretación de medidas antropométricas y valoración de cada uno de los órganos y sistemas corporales.
                    .col-12.mt-5 
                        p De igual manera, se hará una inspección general en la cual se valore el estado de conciencia, la aceptación de vía oral, la simetría y signos de pérdida de peso, como también la disminución de masa muscular o de grasa subcutánea (extremidades, mejillas, glúteos, cuello), estructuras óseas sobresalientes, enoftalmos, fontanelas persistentemente permeables, condiciones del cabello en distribución, color y textura, ojos opacos, condiciones de la esclera, labios secos, heridas, mucosas secas o ulceradas, lengua edematosa, lisa o pálida, daño o demora en erupción de piezas dentales, o la presencia de manchas.
                        p.mt-4 Se determina la turgencia, resequedad o humedad de la piel, la búsqueda de lesiones costrosas, heridas, rasgaduras, descamación o úlceras, la elasticidad, temperatura, cambios tróficos en las uñas. Signos de dificultad respiratoria o insuficiencia cardiaca. Observar el contorno abdominal, su forma, identificación de megalias o masas, presencia y características de ruidos intestinales. Signos de perfusión distal, llenado capilar, pulsos, condiciones de las extremidades y genitourinarias. Alteración del estado de consciencia o neurológica, como la presencia o ausencia de reflejos osteotendinosos, incluyendo en la valoración del desarrollo, si muestra menor adquisición de habilidades esperadas para la edad.  
                .header-arrow.my-5
                    .row 
                        .col-10.offset-1.my-3
                            h3.text-center Para el caso de los fenotipos de la desnutrición aguda severa (marasmo y kwashiorkor), en la siguiente tabla se presentan los principales signos clínicos que suelen presentarse:
                
                .row.mt-5 
                    .col-12 
                        table(style='width:100%;table-layout: fixed;').mt-5
                            tr.bg-naranja
                                th.p-4.text-center.text-white.border Segmento corporal
                                th.text-center.text-white.border 
                                    p.font-weight-bold.m-0 Marasmo 
                                th.pl-4.text-white.border Kwashiorkor 
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Cara
                                td.p-3.bg-naranja-claro.text-center.border Lívida, delgada.
                                td.py-3.pl-4.bg-naranja-claro.border Fascies lunar.
                            tr
                                td.p-3.bg-naranja-opaco.text-center.border Ojos
                                td(colspan='2').p-3.bg-naranja-opaco.text-center.border Secos, conjuntiva pálida, manchas de Bitot.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Boca
                                td(colspan='2').p-3.bg-naranja-claro.text-center.border Estomatitis angular, queilitis, glositis, encías hipertróficas y sangrantes, aumento de tamaño de parótidas.
                            tr
                                td.p-3.bg-naranja-opaco.text-center.border Dientes
                                td(colspan='2').p-3.bg-naranja-opaco.text-center.border Esmalte moteado, erupción tardía.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Cabello
                                td.p-3.bg-naranja-claro.text-center.border Atrofia de cabello.
                                td.py-3.pl-4.bg-naranja-claro.border Despigmentado, fino, seco, opaco, alopecia, quebradizo, bandas de color.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Piel
                                td.p-3.bg-naranja-claro.text-center.border Seca, plegadiza (le sobra piel) Sin dermatosis.
                                td.py-3.pl-4.bg-naranja-claro.border Seca con hiper o hipopigmentación difusa; dermatosis pelagroide; lesiones intertriginosas, dermatosis escrotal y vulvar.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Uñas
                                td(colspan='2').p-3.bg-naranja-claro.text-center.border Coiloniquia, placas de uñas finas y blandas, fisuras, líneas.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Pérdida de peso 
                                td.p-3.bg-naranja-claro.text-center.border Marcada.
                                td.py-3.pl-4.bg-naranja-claro.border Peso no confiable por presencia de edema.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Sistema muscular
                                td.p-3.bg-naranja-claro.text-center.border Hipotrofia o atrofia muscular generalizada.
                                td.py-3.pl-4.bg-naranja-claro.border Hipotrofia muscular.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Edema
                                td.p-3.bg-naranja-claro.text-center.border Sin edema.
                                td.py-3.pl-4.bg-naranja-claro.border Siempre hay presencia de edema nutricional, sea leve, moderado o severo.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Panículo adiposo
                                td.p-3.bg-naranja-claro.text-center.border Ausencia.
                                td.py-3.pl-4.bg-naranja-claro.border Presente pero escaso.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Abdomen
                                td.p-3.bg-naranja-claro.text-center.border Ruidos intestinales disminuidos. 
                                td.py-3.pl-4.bg-naranja-claro.border Hepatomegalia, esteatosis.
                            tr
                                td(rowspan='2').p-3.bg-naranja-claro.text-center.border Neurológico
                                td.p-3.bg-naranja-claro.text-center Irritable, llora mucho.
                                td.py-3.pl-4.bg-naranja-claro Adinamia, apatía, irritabilidad, indiferencia por el medio, tristeza.
                            tr 
                                td(colspan='2').p-3.bg-naranja-claro.text-center Retraso global del desarrollo, pérdida de reflejos patelares y talares, compromiso de memoria.
                            tr
                                td.p-3.bg-naranja-claro.text-center.border Hematológico
                                td(colspan='2').p-3.bg-naranja-claro.text-center.border Palidez, petequias, diátesis sangrante.
                .row.mt-5 
                    .col-8.offset-2.holder
                        .row.mask
                            .col-12
                        .row.drop
                            .col-12
                        .row    
                            .col-11.p-4.mt-3
                                p.ml-5 En el examen físico, se deben incluir dos aspectos adicionales:
                                .row.mt-2
                                    .col.text-right 
                                        img.fluid(src="assets/images/icons/vineta.svg")
                                    .col-10
                                        p La valoración del edema. 
                                .row.mt-2
                                    .col.text-right 
                                        img.fluid(src="assets/images/icons/vineta.svg")
                                    .col-10
                                        p La valoración del perímetro del brazo.
                .row.mt-5 
                    .col-12 
                        h3 Estudiemos cada uno de ellos:
                nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong Valoración del edema: 
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Valoración del perímetro del brazo
                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                            .row
                                .col-12 
                                    p Para evaluarlo, se toman los pies del niño y el examinador presiona el dorso del pie, durante tres segundos, con los pulgares. Si la depresión generada se mantiene, se confirma la presencia de edema. Se han establecido grados de severidad del edema, de acuerdo con la cantidad de regiones corporales que comprometa, como se observa a continuación y en la ilustración:
                                .col-10.offset-1.mt-4 
                                    img(src="assets/images/pages/tema-1/tema-1-16.png").w-100
                            .row.mt-2
                                .col.text-right 
                                    img.fluid(src="assets/images/icons/vineta.svg")
                                .col-11
                                    p #[strong Edema leve (+): ] se presenta solo en los pies. 
                            .row.mt-2
                                .col.text-right 
                                    img.fluid(src="assets/images/icons/vineta.svg")
                                .col-11
                                    p #[strong Edema moderado (++): ] compromete pies, manos y parte inferior de piernas y brazos.
                            .row.mt-2
                                .col.text-right 
                                    img.fluid(src="assets/images/icons/vineta.svg")
                                .col-11
                                    p #[strong Edema severo (+++): ] se refiere al edema generalizado que incluye pies, piernas, manos, brazos y cara.
                            .row.mt-5 
                                .col-12 
                                    p Debe tenerse en cuenta que hay situaciones como reacciones alérgicas a alimentos, picadura de insectos, o alérgenos de contacto, así como síndrome nefrótico, hepatopatías y enteropatía perdedora de proteínas, que pueden generar hipoalbuminemia y edema de características no nutricionales.

                            .row.justify-content-center.align-items-center.mt-5 
                                .col-5.offset-1.rounded.bg-verde-claro.shadow
                                    a(href="https://www.youtube.com/watch?app=desktop&v=D199UbHIZXs" target="_blank") 
                                        .row.justify-content-center.align-items-center 
                                            .col-2.py-4.align-self-center.text-center 
                                                img(src="assets/images/icons/www.svg").w-75
                                            .col-8.align-self-center.py-4 
                                                p Evaluación del edema bilateral
                                
                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                            .row
                                .col-12
                                    p.mb-4 El instrumento para su toma es una cinta métrica, “la cual debe ser de un material flexible, inextensible e impermeable, con divisiones cada 1mm”. 
                                    p De acuerdo con lo establecido en la Resolución 2465 de 2016, “la medición del perímetro del brazo no reemplaza la toma de peso y talla”, siendo una medida complementaria a la clasificación antropométrica nutricional.
                                    h3.mt-5 Establecer presencia concomitante de complicaciones o comorbilidades.
                                    p.my-3 Se evidencia mayor riesgo de mortalidad, es necesario estar alerta sobre la intensidad de los siguientes aspectos:
                                .col-8 
                                    .row.mt-2
                                        .col.text-right 
                                            img.fluid(src="assets/images/icons/vineta.svg")
                                        .col-9.col-lg-10
                                            p Estado de choque. 
                                    .row.mt-2
                                        .col.text-right 
                                            img.fluid(src="assets/images/icons/vineta.svg")
                                        .col-9.col-lg-10
                                            p Diarrea aguda o persistente.
                                    .row.mt-2
                                        .col.text-right 
                                            img.fluid(src="assets/images/icons/vineta.svg")
                                        .col-9.col-lg-10
                                            p Infección respiratoria, sepsis, neuroinfección e infección urinaria.
                                    .row.mt-2
                                        .col.text-right 
                                            img.fluid(src="assets/images/icons/vineta.svg")
                                        .col-9.col-lg-10
                                            p Pérdida de continuidad, extensión y tipo de compromiso de la piel.
                                    .row.mt-2
                                        .col.text-right 
                                            img.fluid(src="assets/images/icons/vineta.svg")
                                        .col-9.col-lg-10
                                            p Anemia severa. 
                                    .row.mt-2
                                        .col.text-right 
                                            img.fluid(src="assets/images/icons/vineta.svg")
                                        .col-9.col-lg-10
                                            p Hipoglicemia, hipofosfatemia o hipocalcemia.
                                    .row.mt-2
                                        .col.text-right 
                                            img.fluid(src="assets/images/icons/vineta.svg")
                                        .col-9.col-lg-10
                                            p Signos de enfermedad grave: vomita todo o no come nada, se encuentra letárgico o inconsciente, convulsiona. 
                                .col-4 
                                    img(src="assets/images/pages/tema-1/tema-1-17.svg").w-100
                            .row.justify-content-center.align-items-center.mt-5 
                                .col-4.offset-1.rounded.bg-verde-claro.shadow
                                    a(href="https://www.youtube.com/watch?app=desktop&v=pwEphUMVeQA" target="_blank") 
                                        .row.justify-content-center.align-items-center 
                                            .col-2.py-4.align-self-center.text-center 
                                                img(src="assets/images/icons/www.svg").w-75
                                            .col-8.align-self-center.py-4 
                                                p.text-center Prueba de apetito                                   
                .row.mt-5 
                    .col-8.offset-2.holder
                        .row.mask
                            .col-12
                        .row.drop
                            .col-12
                        .row    
                            .col-11.p-4.mt-3
                                p.ml-5 Cada una de estas condiciones, junto al diagnóstico de desnutrición aguda, debe ser considerada como una urgencia vital y requieren de tratamiento inmediato, desde el mismo momento de la captación del niño, independiente del lugar donde se encuentre.
                .row.mt-5 
                    .col-12 
                        h3 Seleccionar escenario adecuado para continuar y consolidar el manejo instaurado
                        p.mt-5 El abordaje y manejo de niños y niñas con desnutrición aguda moderada y severa entre 0 y 59 meses de edad, tiene la posibilidad de realizarse de forma hospitalaria o ambulatoria. La adecuada definición del escenario de manejo es fundamental para orientar las indicaciones terapéuticas de acuerdo con la edad, la presencia de comorbilidades, riesgo de complicaciones y muerte de los menores afectados.
                .row.mt-5.mt-lg-2
                    .col-8.align-self-center
                        p El examen clínico completo y la prueba de apetito con FTLC, son los criterios para definir si el niño con desnutrición aguda puede recibir el tratamiento ambulatorio, o debe ser hospitalizado. Sobre la pérdida del apetito, es pertinente mencionar que es uno de los primeros signos de complicación, porque puede comportarse de forma independiente de los otros signos clínicos descritos y se relaciona con procesos infecciosos o metabólicos concomitantes. 
                    .col.align-self-center 
                        img(src="assets/images/pages/tema-1/tema-1-18.svg").w-100
                    .col-12.mt-5.mt-lg-2 
                        p La prueba se considera positiva cuando hay consumo de la mínima cantidad esperada de FTLC y, de acuerdo con la edad y peso del niño, lo que permite la recuperación nutricional en el hogar con seguimiento cercano por equipo de atención en salud, mientras que si falla, indica la necesidad de manejo supervisado en institución de salud, como se observa en la tabla a continuación.
                .row.mt-5
                    .col-12 
                        .header-arrow.my-5
                            .row 
                                .col-10.offset-1.my-2
                                    h3.text-center Criterios para la evaluación de la prueba de apetito:
                .row.mt-5 
                    .col-12 
                        table(style='width:100%;table-layout: fixed;').mt-2
                            tr.bg-naranja.text-center
                                th(rowspan='2').text-center.text-white.border Edad
                                th(rowspan='2').text-white.border Peso kg 
                                th(rowspan='2').text-white.border Consumo Mínimo FTLC
                                th(colspan='2' style='width:30%').text-white.border.p-3 Positiva
                                th(colspan='2' style='width:35%').text-white.border.p-3 Negativa
                            tr.bg-naranja.text-center
                                th.text-white.border Observación
                                th.text-white.border Conducta A seguir
                                th.text-white.border Observación durante 15 minutos
                                th.text-white.border Conducta A seguir
                            tr
                                td(rowspan='3').p-3.bg-naranja-claro.text-center.border 6 a 59 Meses
                                td.p-3.bg-naranja-claro.text-center.border 4-6.9
                                td.py-3.pl-4.bg-naranja-claro.border ¼ de sobre
                                td(rowspan='3').p-3.bg-naranja-claro.border Recibe con agrado la FTLC
                                td(rowspan='3').p-3.bg-naranja-claro.border Manejo ambulatorio
                                td(rowspan='3').p-3.bg-naranja-claro.border Come menos de lo esperado o se niega a consumir la FTLC a pesar del ayuno, el tiempo y el ambiente propicio para la prueba.
                                td(rowspan='3').p-3.bg-naranja-claro.border Manejo hospitalario
                            tr 
                                td.p-3.bg-naranja-claro.text-center.border 7-9.9
                                td.p-3.bg-naranja-claro.text-center.border 1/3 de sobre
                            tr 
                                td.p-3.bg-naranja-claro.text-center.border 10-14.9
                                td.p-3.bg-naranja-claro.text-center.border 1/2 sobre
                .row.mt-5 
                    .col-12
                        .header-arrow.my-5
                            .row 
                                .col-10.offset-1.my-2
                                    h3.text-center La prueba de apetito siempre debe ser realizada bajo supervisión del equipo médico teniendo en cuenta los siguientes parámetros:
                    .col-12 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10.col-lg-11
                                p  Se trata de una prueba diagnóstica, no de tolerancia a la vía oral. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10.col-lg-11
                                p Se realiza únicamente con FTLC.
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10.col-lg-11
                                p Solo está indicada para niños y niñas entre 6 y 59 meses de edad que cumplan con los criterios de manejo ambulatorio o se encuentran en fase de transición, no se debe realizar en niños y niñas menores de 6 meses, o en niños y niñas mayores de 6 meses que pesen menos de 4 kg. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10.col-lg-11
                                p Se debe realizar en cada valoración clínica del niño, sea de inicio o de seguimiento. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10.col-lg-11
                                p Realizarla en un área independiente, aislada y tranquila. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10.col-lg-11
                                p Es importante que el niño consuma voluntariamente la FTLC sin obligarlo. 
                        .row.mt-2
                            .col.text-right 
                                img.fluid(src="assets/images/icons/vineta.svg")
                            .col-10.col-lg-11
                                p Se debe ofrecer al niño con amabilidad, felicitándolo cada vez. 
                .row.mt-5 
                    .col-12 
                        h3 Los pasos para su realización son: 
                .row.justify-content-center.align-items-center.mt-3 
                    .col-10 
                        .list
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Explique a la madre o al cuidador, el objetivo de la prueba del apetito y cómo se va a realizar. 
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Solicite y acompañe a la madre o al cuidador, a lavarse las manos con agua y jabón.  
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p La madre o el cuidador debe sentarse en una posición cómoda, con el niño sobre sus piernas.
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Evite manipular directamente con la mano. Ofrezca la FTLC, con cuchara.
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Observe la aceptación de la FTLC, por el niño, durante 15 minutos, continúe ofreciendo la fórmula si manifiesta deseo de seguir comiendo.
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Cuantifique la cantidad consumida y compare con los criterios de evaluación de la prueba de apetito, presentados en la tabla, criterios para la evaluación de la prueba de apetito.
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Se considera positiva cuando consume más de la mínima cantidad sugerida, de acuerdo con la edad y el peso del niño.
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Una vez realizada la prueba en su primer intento y se rechaza la FTLC, averigüe con el cuidador el momento de la última ingesta de alimento y verifique si el niño presenta ayuno. 
                                .row.justify-content-center.align-items-center.mt-2 
                                    .col-12                             
                                        .list
                                            .list__item
                                                .list__item__icon
                                                    img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                            .list__txt
                                                p Si el niño no ha consumido otro tipo de alimento recientemente, sitúe al niño junto con la madre o el cuidador, en un ambiente diferente, que cumpla con las condiciones de ser tranquilo y amable, e intente nuevamente. 
                                        .list.mt-2
                                            .list__item
                                                .list__item__icon
                                                    img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                            .list__txt
                                                p En caso de haber recibido otro tipo de alimento, espere, e inicie la prueba dos horas posteriores a la última ingesta, o antes si considera que el niño tiene hambre.
                        .list.mt-2
                            .list__item
                                .list__item__icon
                                    img.icon-top.img-a(src="assets/images/icons/icon_check.svg").img-fluid  
                            .list__txt
                                p Si a pesar de estas medidas sigue rechazando la FTLC, considere la prueba negativa y tómela como criterio para hospitalizar. 

                .row.mt-5 
                    .col-10.col-sm-7.col-md-5.col-lg-4.mt-4.p-3.bg-naranja.text-center 
                        h2.text-white.mb-0  Criterios de manejo ambulatorio
                .row.mt-5 
                    .col-7.px-0
                        img(src="assets/images/pages/tema-1/tema-1-20.jpg").w-100
                    .col-5.align-self-center.caja-sobrepuesta 
                        .row 
                            .col-12.bg-verde-claro.p-5 
                                h2.texto-negro Los criterios para el manejo ambulatorio son:
                .row.mt-5.bg-verde-claro.p-4 
                    .col-12.mt-5 
                        h3 Después de determinar previamente en TODOS los niños y niñas de 6 a 59 meses: 
                        .row.justify-content-center.align-items-center.mt-3 
                            .col-11 
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Peso para la talla
                                        | #[b Y] 

                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p presencia de edema
                                        | #[b Y] 
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p perímetro del brazo
                                        | #[b Y] 

                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p valoración clínica integral.
                    .col-8.mt-5 
                        h3 Si encuentra UNO de los siguientes: 
                        .row.justify-content-center.align-items-center.mt-3 
                            .col-11 
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Puntaje Z de P/T menor de -2 DE.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Edema grado 1(+) o 2(+ +).
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Perímetro del brazo menor de 11.5 cm.
                        h3.mt-5 Y además presenta TODOS los siguientes:
                        .row.justify-content-center.align-items-center.mt-3 
                            .col-11 
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Activo, reactivo, consciente. 
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Sin complicaciones médicas o comorbilidad aguda.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Prueba de apetito positiva.
                    .col-3.align-self-center 
                        img(src="assets/images/pages/tema-1/tema-1-21.svg").w-100
                .row.mt-5 
                    .col-8.offset-2.holder
                        .row.mask
                            .col-12
                        .row.drop
                            .col-12
                        .row    
                            .col-11.p-4.mt-3
                                p.ml-5 Lo anterior, también está previsto para aquellos niños y niñas que egresan del manejo hospitalario, donde fueron estabilizados de sus complicaciones, y pueden continuar la recuperación y manejo en su casa, con los seguimientos requeridos.
                .row.mt-5 
                    .col-10.col-sm-7.col-md-5.col-lg-4.mt-4.p-3.bg-naranja.text-center 
                        h2.text-white.mb-0  Criterios de manejo hospitalario
                .row.mt-5
                    .col-12 
                        p Solo uno de cada cinco niños con desnutrición aguda severa, requiere tratamiento hospitalario, y esta proporción puede ser aún menor cuando se incluyen los niños y niñas que presentan desnutrición aguda moderada. 
                    .col-7.px-0.mt-5
                        img(src="assets/images/pages/tema-1/tema-1-22.svg").w-100
                    .col-5.align-self-center.caja-sobrepuesta 
                        .row 
                            .col-12.bg-verde-claro.p-5 
                                h2.texto-negro Los criterios para el manejo hospitalario son:
                .row.mt-5.bg-verde-claro.p-4 
                    .col-12.mt-5 
                        h3 Después de determinar previamente en TODOS los niños y niñas de 6 a 59 meses: 
                        .row.justify-content-center.align-items-center.mt-3 
                            .col-11 
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Peso para la talla
                                        | #[b Y] 

                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p presencia de edema
                                        | #[b Y] 
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p perímetro del brazo
                                        | #[b Y]
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p valoración clínica integral.

                        h3.mt-5 Si encuentra UNO de los siguientes: 
                        .row.justify-content-center.align-items-center.mt-3 
                            .col-11 
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Puntaje Z de P/T menor de -2 DE. 
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Algún grado de edema.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/list_bullet.svg").img-fluid  
                                    .list__txt
                                        p Perímetro del brazo menor de 11.5 cm.
                        h3.mt-5 Si el niño presenta UNA de las siguientes condiciones que aumentan la morbimortalidad: 
                    .col-8.mt-2 
                        .row.justify-content-center.align-items-center
                            .col-11 
                                .list
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Niño menor de 6 meses de edad.   
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Niño mayor de 6 meses de edad y que pesa menos de 4 kilos.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Está inconsciente, letárgico, hipoactivo o convulsiona.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Edema nutricional severo (+++).
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Diarrea, vómito persistente rechazo de la vía oral con riesgo de deshidratación.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Aumento de la frecuencia respiratoria para la edad.
                                        .row.justify-content-center.align-items-center
                                            .col-11 
                                                .list
                                                    .list__item
                                                        .list__item__icon
                                                            img.icon-top.img-a(src="assets/images/icons/icon_single_chevron.svg").img-fluid  
                                                    .list__txt
                                                        p Niño menor de 2 meses: 60 respiraciones por minuto.
                                                .list.mt-2
                                                    .list__item
                                                        .list__item__icon
                                                            img.icon-top.img-a(src="assets/images/icons/icon_single_chevron.svg").img-fluid  
                                                    .list__txt
                                                        p Niño de 2 a 11 meses: 50 respiraciones por minuto.
                                                .list.mt-2
                                                    .list__item
                                                        .list__item__icon
                                                            img.icon-top.img-a(src="assets/images/icons/icon_single_chevron.svg").img-fluid  
                                                    .list__txt
                                                        p Niño de 12 meses a 5 años: 40 respiraciones por minuto.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Temperatura axilar menor 35.5 ºC o mayor 38 ºC.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Lesiones ulcerativas y liquenoides en más del 30% de la superficie cutánea.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Hemoglobina menos de 4 g/dl.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Hemoglobina menos de 6 g/dl con signos de esfuerzo respiratorio o aumento en la frecuencia cardiaca.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Prueba de apetito negativa o no puede beber o tomar el pecho.
                                .list.mt-2
                                    .list__item
                                        .list__item__icon
                                            img.icon-top.img-a(src="assets/images/icons/vineta.svg").img-fluid  
                                    .list__txt
                                        p Condición médica o social del niño o la familia que requiera evaluación e intervención, por ejemplo, abandono, discapacidad o enfermedad mental del cuidador.

                    .col-4.col-lg-3.align-self-center 
                        img(src="assets/images/pages/tema-1/tema-1-23.svg").w-100
                .row.mt-5 
                    .col-8.offset-2.holder
                        .row.mask
                            .col-12
                        .row.drop
                            .col-12
                        .row    
                            .col-11.p-4.mt-3
                                p.ml-5 La definición de escenario de manejo de la desnutrición aguda en los casos de niños y niñas con antecedentes de prematurez, se hace con base en el cálculo de la edad corregida: si resulta una edad menor de seis meses, debe hospitalizarse y si resulta mayor de 6 meses, el escenario de manejo se decide de acuerdo con los criterios establecidos para todos los niños y niñas de 6 a 59 meses de edad, con desnutrición aguda.
                .row.mt-5 
                    .col-10.col-sm-7.col-md-5.col-lg-4.mt-4.p-3.bg-naranja 
                        h2.text-white.mb-0  Tratamiento
                    .col-12.mt-5 
                        p Una vez definido el escenario de manejo, el tratamiento se contempla en tres fases: estabilización, transición y rehabilitación. Si cumple con criterios de manejo hospitalario, se inicia con la fase de estabilización; en caso de cumplir con criterios de manejo ambulatorio, se inicia a partir de la fase de rehabilitación, como se observa en la siguiente gráfica:
                .row.mt-5 
                    .col-10.col-lg-4.offset-1.offset-lg-0.bg-verde-DDD.p-5.border-10.border-white
                        h2.texto-negro 24 – 72 horas
                        h3.mt-3 Fase de estabilización
                        p.mt-5 Reanimación y corrección de condiciones medidas agudas potencialmente mortales. Inicio cauteloso de manejo nutricional. 
                    .col-10.col-lg-4.offset-1.offset-lg-0.bg-verde-DEDE.p-5.border-10.border-white
                        h2.texto-negro 3 a 7 – 14 días
                        h3.mt-3 Fase de transición
                        p.mt-5 Paso progresivo entre F-15 y alimento requerido para recuperar las condiciones nutricionales (leche materna o FTLC). Continua tratamiento y vigilancia de condiciones agudas ya establecidas.
                    .col-10.col-lg-4.offset-1.offset-lg-0.bg-verde-DDD.p-5.border-10.border-white
                        h2.texto-negro Hasta 60 días
                        h3.mt-3 Fase de rehabilitación
                        p.mt-5 Aumento progresivo de aporte calórico para alcanzar la velocidad de crecimiento compensatorio. Involucra el seguimiento ambulatorio periódico del niño y vigilancia de sus condiciones nutricionales y de salud. Para niños con criterio de manejo ambulatorio se trata de la fase inicial. 
                nav.nav-tab-ecored.my-5
                    #nav-tab2.nav.nav-tabs(role='tablist')
                        a#nav-03-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='true') 
                            strong Fase de estabilización:  
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong Fase de transición: 
                        a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                            strong Fase de rehabilitación: 

                    #nav-tabContent2.tab-content
                        #nav-03.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-03-tab')
                            .row.mt-5
                                .col-3.align-self-center 
                                    img(src="assets/images/pages/tema-1/tema-1-24.svg").w-100
                                .col-8.align-self-center.ml-5
                                    h3 Fase de estabilización: 
                                    p.mt-5 Corresponde al periodo entre primeras 24 a 48 horas de tratamiento en el cual se tratan y corrigen las condiciones médicas agudas potencialmente mortales. Es fundamental iniciarlas de forma inmediata una vez se haya identificado al niña o niño con desnutrición aguda, sea en el entorno comunitario o institucional; termina en el momento en el que es posible el control de condiciones hemodinámicas. Durante esta fase se vigila la hipoxemia, se corrigen los desequilibrios de líquidos y electrolitos, se aporta estímulo trófico intestinal, se maneja la hipoglicemia y la hipotermia, se inicia el tratamiento antibiótico y se corrige la anemia grave.
                                .col-12.mt-5 
                                    p Durante la estabilización se inicia cautelosamente el manejo nutricional por vía oral o por sonda nasogástrica - SNG una vez se corrobora la presencia de diuresis, se da manejo al compromiso de la piel y se continúa el manejo de las comorbilidades.
                                    p Si después de las 72 horas el niño o niña no se ha estabilizado, considere que cuenta con patología concurrente no diagnosticada. Esta fase incluye dos componentes: reanimación y estabilización propiamente dicha.
                                    p.mt-4 Esta fase se contempla únicamente para el tratamiento hospitalario, pues los criterios para el manejo ambulatorio definen la no presencia de comorbilidades o complicaciones.
                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                            .row.mt-5
                                .col-3.align-self-center 
                                    img(src="assets/images/pages/tema-1/tema-1-25.svg").w-100
                                .col-8.align-self-center.ml-5
                                    h3 Fase de transición:  
                                    p.mt-5 Se trata del paso progresivo entre la administración de F-75, a la alimentación requerida y necesaria para recuperar las condiciones tisulares y metabólicas de acuerdo con el grado de desnutrición, la edad y el peso del niño o niña. Esta fase inicia cuando se recupera el apetito; hay estabilización de patologías agudas, los trastornos hidroelectrolíticos se han corregido, hay control de los procesos infecciosos, se reduce el edema, por tanto, es posible aumentar la cantidad de nutrientes.
                        #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                            .row.mt-5
                                .col-3.align-self-center 
                                    img(src="assets/images/pages/tema-1/tema-1-26.svg").w-100
                                .col-8.align-self-center.ml-5
                                    h3 Fase de rehabilitación:  
                                    p.mt-5 En esta es posible aumentar progresivamente el aporte calórico para alcanzar la velocidad de crecimiento compensatorio, lo prioritario en esta fase es verificar el apetito y la ganancia de peso. Se realizará prioritariamente durante el manejo ambulatorio y una vez se cumplan los criterios de egreso se dará el alta para seguir la valoración integral en la primera infancia bajo la consideración de riesgo que conlleva el antecedente de presentar desnutrición aguda. 
                .row.mt-5.bg-amarillo-claro 
                    .col-12.mt-5.ml-5 
                        h3 Acciones inmediatas 
                        h3.mb-0 Las siguientes acciones se deben realizar en el sitio en el que se encuentre el niño: 
                    .col-12
                        .row.mt-5
                            .col-1.text-right
                                img.fluid(src="assets/images/icons/vineta1.svg")
                            .col-10.align-self-center 
                                p Controle la hipoxemia y el esfuerzo respiratorio.
                        .row.mt-3
                            .col-1.text-right
                                img.fluid(src="assets/images/icons/vineta2.svg")
                            .col-10.align-self-center 
                                p Detecte signos de choque y corrija cautelosamente la deshidratación.
                        .row.mt-3
                            .col-1.text-right
                                img.fluid(src="assets/images/icons/vineta3.svg")
                            .col-10.align-self-center 
                                p Vigile la función renal.
                        .row.mt-3
                            .col-1.text-right
                                img.fluid(src="assets/images/icons/vineta4.svg")
                            .col-10.align-self-center 
                                p Preserve la función intestinal con Sales de Rehidratación Oral - SRO por vía oral o SNG.
                        .row.mt-3
                            .col-1.text-right
                                img.fluid(src="assets/images/icons/vineta5.svg")
                            .col-10.align-self-center 
                                p Prevenga, verifique y trate la hipoglicemia.
                        .row.mt-3
                            .col-1.text-right
                                img.fluid(src="assets/images/icons/vineta6.svg")
                            .col-10.align-self-center 
                                p Controle la hipotermia.
                        .row.mt-3
                            .col-1.text-right
                                img.fluid(src="assets/images/icons/vineta7.svg")
                            .col-10.align-self-center 
                                p Inicia A/B empíricos según condición.
                        .row.my-5
                            .col-1.text-right
                                
                            .col-10.align-self-center 
                                p La evaluación médica y la fase de estabilización, mientras se remite, deben realizarse por el médico de la IPS que tenga el primer contacto con el niño, independientemente de su nivel de complejidad.
                .row.mt-5 
                    .col-12.rounded.bg-gris-claro
                        .row.m-5 
                            .col-2  
                                img(src="assets/images/icons/message.svg").w-100
                            .col-10 
                                h3 Recuerde 
                                p Niños y niñas con desnutrición aguda severa que cursan con edema generalizado, se deben manejar intrahospitalariamente luego de la estabilización inicial, aunque no tenga otras evidencias de complicaciones médicas o la prueba de apetito sea positiva.
                                p.mt-5 Niños y niñas menores de 6 meses con desnutrición aguda moderada o severa o mayores de 6 meses con peso inferior a 4 kg, deben hospitalizarse independientemente que tengan o no los factores de riesgo mencionados anteriormente.
                                p.mt-5 Todos los niños y niñas con desnutrición aguda moderada o severa hospitalizados requieren medidas de aislamiento protector