.container

    .header-ecored
        h1#tema-10 2. Manejo de niños y niñas de 0 a 6 meses de edad con desnutrición aguda moderada y severa

    .card
        .card-body.px-4.mt-5
            .container.mb-4
                .row.mt-5
                    .col-12 
                        p Los niños y niñas menores de seis meses de edad, requieren especial atención, considerando las características fisiológicas propias, sus necesidades nutricionales específicas, la dependencia total del cuidado de su familia, entre otras, lo que los hace más vulnerables y con mayor riesgo de mortalidad.
                        p.mt-5 En esta etapa de la vida, la desnutrición aguda se asocia fuertemente a dificultades en el proceso de amamantamiento, en las que se incluyen barreras familiares, sociales y culturales, además de la confluencia de factores de riesgo como pueden ser el bajo peso al nacer, la prematuridad, episodios diarreicos, malformaciones congénitas, sepsis, o condiciones crónicas.
                .row.mt-5 
                    .col-5.px-0.offset-1
                        img(src="assets/images/pages/tema-2/tema-2-1.jpg" style="width: 125%")
                    .col-6.align-self-center.caja-sobrepuesta.caja-sobrepuesta-tema-2 
                        .row 
                            .col-12.bg-verde-claro.p-5 
                                p La adecuada atención, además de disminuir la mortalidad, tiene el potencial de influir en el desarrollo y la salud a corto, mediano y largo plazo, la cual tiene la premisa de trabajar y apoyar SIEMPRE la lactancia materna exclusiva, durante los primeros seis meses de vida, como pilar del manejo y supervivencia; esto implica, apoyar a la madre y a los cuidadores de los niños y niñas durante el tratamiento, el cual se realiza, inicialmente, de forma intrahospitalaria; una vez se han recuperado y se cumple con los criterios de egreso durante la fase de rehabilitación, se continuará con el acompañamiento ambulatorio, hasta lograr la recuperación nutricional.            
                
                .row.mt-5 
                    .col-12.mt-5
                        p En lo que concierne a los niños y niñas de 0 a 29 días, considerando que, por la inmadurez y los cambios fisiológicos de los recién nacidos, sumado a la programación metabólica, debe tenerse en cuenta que la adaptación temprana a un corto estímulo nutricional durante el período perinatal, cambia de manera permanente la fisiología y el metabolismo del organismo y continúa expresándose, incluso, en ausencia de dicho estímulo.
                .row.mt-5 
                    .col-5.px-0.offset-1
                        img(src="assets/images/pages/tema-2/tema-2-2.jpg" style="width: 125%")
                    .col-6.align-self-center.caja-sobrepuesta.caja-sobrepuesta-tema-2 
                        .row 
                            .col-12.bg-verde-claro.p-5 
                                p Existen consideraciones que afectan el dato del peso corporal y explican su variación durante el primer mes de vida, y más aún en aquellos casos en los que los niños y niñas tengan el antecedente de prematurez y bajen de peso por comorbilidades y/o por bajo aporte de nutrientes; por lo tanto, se considera que no solo el peso para la talla se debe tener en cuenta como único indicador para evaluar desnutrición aguda. Es entonces que la valoración de las condiciones nutricionales, se debe realizar a través de la evaluación individual que involucre la progresiva ingesta de nutrientes, medidas antropométricas y la tendencia del crecimiento. 
                .row.mt-5 
                    .col-8.offset-2.holder.mt-5
                        .row.mask
                            .col-12
                        .row.drop
                            .col-12
                        .row    
                            .col-11.p-4.mt-3
                                p.ml-5 Tenga en cuenta que el abordaje de los casos de niños y niñas con desnutrición aguda durante el primer mes de vida (calculada con edad corregida), sean recién nacidos a término, recién nacidos pretérmino o, que cursen con retraso de crecimiento intrauterino, requiere de la instauración de la adecuada práctica de lactancia materna como pilar del tratamiento, así como la valoración y seguimiento a través de la estrategia madre canguro, resaltando que deberá ser individualizado y altamente supervisado.
                .row.mt-5 
                    .col-12.rounded.bg-gris-claro
                        .row.m-5 
                            .col-2  
                                img(src="assets/images/icons/message.svg").w-100
                            .col-10 
                                h3 Recuerde 
                                p Los niños y niñas con antecedente de prematurez, al cumplir 40 semanas de edad corregida, los datos antropométricos deben ser valorados y clasificados de acuerdo con lo establecido en la Resolución 2465 de 2016 o la que la modifique. 
    .card
        .card-body.px-4.mt-5
            .container.mb-4             
                .sub-ecored
                    h2#tema-21.texto-naranja 2.1. Manejo intrahospitalario en niños y niñas de 0 a 6 meses de edad

                .row.mt-5 
                    .col-12 
                        p El propósito es prevenir, tratar y monitorizar las complicaciones, iniciar manejo específico, abordar el metabolismo alterado de carbohidratos y energía, que afecta los niveles de glucosa en sangre y la regulación de la temperatura corporal, así como el equilibrio hidroelectrolítico.
                .row.mt-5
                    .col-12 
                        .header-arrow.my-5
                            .row 
                                .col-10.offset-1.my-2
                                    h3.text-center Además de resolver las complicaciones asociadas a la desnutrición, el propósito de la hospitalización en este grupo de edad, va a depender de la posibilidad que tienen los niños y niñas de alimentarse con leche materna.
                        .row.bg-verde-claro.p-5.mt-5
                            .col.d-none.d-md-flex 
                                img(src="assets/images/pages/tema-2/tema-2-3.svg").avatar-img                
                            .col-12.col-md-9.align-self-center.mr-4
                                p #[strong Niños y niñas amamantados o con posibilidad de lactancia:] Iniciar la recuperación nutricional, evaluar y reestablecer la práctica de lactancia materna hasta que pueda alimentarse exclusivamente con leche materna.
                                p.mt-5 #[strong Niños y niñas no amamantados y sin posibilidad de establecer la práctica de lactancia materna:] Definir las opciones de alimentación cuando no sea posible restablecer la lactancia materna.
                        .row.mt-5
                            .col-12.mt-5    
                                p El tratamiento hospitalario debe ser secuencial, considerando que el orden de abordaje de los problemas es fundamental para una atención eficaz (World Health Organization, 2015); se define para ello una secuencia de evaluación y manejo que responde a una lista de chequeo con el acrónimo “ABCDARIO”, que permite consignar, de esa misma manera, los datos en la historia clínica y establecer tiempos para cada momento; asimismo, facilita un plan terapéutico, organizado y planeado en un tiempo esperado para el logro de cada objetivo, teniendo en cuenta que se incrementa el rendimiento pronóstico, al utilizar guías o lineamientos estandarizados.
                            .col-12.mt-5
                                .row.mt-5 
                                    .col-8.offset-2.holder
                                        .row.mask
                                            .col-12
                                        .row.drop
                                            .col-12
                                        .row    
                                            .col-11.p-4.mt-3
                                                p.ml-5 Los tiempos de respuesta de cada niño dependen de la severidad de la desnutrición, de las comorbilidades, del manejo inicial, lo que indica que, a pesar de la existencia del protocolo, es necesario que cada niño sea abordado desde sus condiciones particulares.
                            .col-12.mt-5 
                                p A continuación, se presenta el #[b ABCDARIO Terapéutico] (Ashworth et al., 1996). Para conocer cómo se desarrollan los pasos del manejo hospitalario en los niños de 0 a 6 meses de edad, a través de las tres fases del tratamiento descritas; revise el contenido asociado a cada letra. 
                .row.mt-2 
                    .col-12 
                        table(style='width:100%;table-layout: fixed;').mt-2
                            tr.bg-verde-tabla.text-center
                                th(rowspan='3' style='width:6%').text-center.borde-negro 
                                th(rowspan='3' style='width:15%').borde-negro Acción o condición 
                                th(rowspan='3' style='width:25%').borde-negro Acción moduladora especifica
                                th(colspan='3').borde-negro.p-3 Estabilización
                                th(rowspan='2').borde-negro.p-3 Transición
                                th(rowspan='2').borde-negro.p-3 Rehabilitación
                            tr.bg-verde-tabla.text-center
                                th.borde-negro Reanimación
                                th(colspan='2').borde-negro Estabilización
                            tr.bg-verde-tabla.text-center
                                th.borde-negro Hasta 2 horas
                                th.borde-negro Primeras 12 horas
                                th.borde-negro Entre 24 a 48 Horas
                                th.borde-negro 2 a 7 Días 
                                th.borde-negro 1 a 3 Semanas
                            tr
                                td.p-3.bg-naranja.text-white.align-self-center.text-center.borde-negro.font-weight-bold A
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Controle hipoxemia vigile esfuerzo respiratorio
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Oxigene a necesidad.
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-naranja.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-naranja.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-naranja.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-naranja.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                            tr 
                                td(rowspan='2').p-3.bg-azul.text-white.align-self-center.text-center.borde-negro.font-weight-bold B
                                td.p-3.bg-gris.align-self-center.borde-negro Alerta de hipoglicemia
                                td.p-3.bg-gris.align-self-center.borde-negro Corrija con cautela hipoglicemia sintomática.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                            tr 
                                td.p-3.bg-gris.align-self-center.borde-negro Hidrate con cautela
                                td.p-3.bg-gris.align-self-center.borde-negro Planee hidratación cautelosa, por vía oral o SNG a menos que esté contraindicada. Inicie SRO-75 con potasio si está indicado.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-azul.text-white.align-self-center.text-center.borde-negro.font-weight-bold C
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Detecte choque
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Reponga líquidos y electrolitos según la naturaleza de las pérdidas. Intente vía enteral, a menos que esté contraindicada.
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-verde-circulo.text-white.align-self-center.text-center.borde-negro.font-weight-bold D 
                                td.p-3.bg-gris.align-self-center.borde-negro Vigile función renal
                                td.p-3.bg-gris.align-self-center.borde-negro Establezca momento de diuresis y estime gasto urinario
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-verde.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-verde.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-verde.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                            tr
                                td(rowspan='2').p-3.bg-morado.text-white.align-self-center.text-center.borde-negro.font-weight-bold F
                                td(rowspan='2').p-3.bg-gris-claro.align-self-center.borde-negro Función intestinal
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Inicie de inmediato SRO-75 por boca o SNG si no hay contraindicación
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-morado.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Inicie alimentación enteral u oral en el momento que se presente diuresis. Pase SNG, si no es posible la vía oral.                                
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-morado.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-morado.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-morado.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-gris.align-self-center.text-center.borde-negro.font-weight-bold G 
                                td.p-3.bg-gris.align-self-center.borde-negro Corrija la anemia grave
                                td.p-3.bg-gris.align-self-center.borde-negro Administre GRE si Hb menor de 4 g/dl o menor de 6 g/dl con signos de falla cardíaca.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-gris.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-gris.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-gris.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-aguamarina.text-white.align-self-center.text-center.borde-negro.font-weight-bold H
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Hipotermia
                                td.p-3.bg-gris-claro.align-self-center.borde-negro Abrigue, mantenga el calor.
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-marina.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-marina.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-marina.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-marina.svg")
                                td.p-3.bg-gris-claro.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-rojo.text-white.align-self-center.text-center.borde-negro.font-weight-bold I 
                                td.p-3.bg-gris.align-self-center.borde-negro Infección
                                td.p-3.bg-gris.align-self-center.borde-negro Inicie antibiótico según recomendación.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-rojo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-rojo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-rojo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-rojo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-amarillo.text-white.align-self-center.text-center.borde-negro.font-weight-bold L 
                                td.p-3.bg-gris.align-self-center.borde-negro Lactancia materna*
                                td.p-3.bg-gris.align-self-center.borde-negro Continúe, promueva y facilite la práctica de lactancia materna, estimule la producción.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                            tr
                                td.p-3.bg-azul-osc.text-white.align-self-center.text-center.borde-negro.font-weight-bold M 
                                td.p-3.bg-gris.align-self-center.borde-negro Micronutrientes
                                td.p-3.bg-gris.align-self-center.borde-negro Identifique deficiencias y planee reposición. Valore si hay xeroftalmia o sarampión.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-osc.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-osc.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-osc.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-osc.svg")
                            tr
                                td.p-3.bg-amarillo.text-white.align-self-center.text-center.borde-negro.font-weight-bold N 
                                td.p-3.bg-gris.align-self-center.borde-negro Nutrición
                                td.p-3.bg-gris.align-self-center.borde-negro Defina manejo nutricional.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-amarillo.svg")
                            tr
                                td.p-3.bg-azul-pastel.text-white.align-self-center.text-center.borde-negro.font-weight-bold P
                                td.p-3.bg-gris.align-self-center.borde-negro Piel
                                td.p-3.bg-gris.align-self-center.borde-negro Establezca compromiso. Cubra áreas expuestas, humecte.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-pastel.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-pastel.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-pastel.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-azul-pastel.svg")
                            tr
                                td.p-3.bg-rosa.text-white.align-self-center.text-center.borde-negro.font-weight-bold R 
                                td.p-3.bg-gris.align-self-center.borde-negro Síndrome de realimentación
                                td.p-3.bg-gris.align-self-center.borde-negro Anticipe el riesgo, detecte, monitoree y trate. Mida P, K, Ca y Mg si le es posible.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-rosa.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-rosa.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                            tr
                                td.p-3.bg-naranja-circulo.text-white.align-self-center.text-center.borde-negro.font-weight-bold S
                                td.p-3.bg-gris.align-self-center.borde-negro Estimule el desarrollo
                                td.p-3.bg-gris.align-self-center.borde-negro Cuidado amoroso, estímulo y juego.
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-naranja-claro.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-naranja-claro.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-naranja-claro.svg")
                            tr
                                td.p-3.bg-morado.text-white.align-self-center.text-center.borde-negro.font-weight-bold V 
                                td.p-3.bg-gris.align-self-center.borde-negro Vacunación
                                td.p-3.bg-gris.align-self-center.borde-negro Asegure aplicación de vacunas de acuerdo con esquema Programa Ampliado de Inmunizaciones - PAI
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-morado.svg")
                                td.p-3.bg-gris.align-self-center.borde-negro.text-center
                                    img(src="assets/images/pages/tema-2/circulo-morado.svg")

                .row.mt-5 
                    .col-10.offset-1.rounded.bg-verde-claro.shadow
                        .row 
                            .col-2.py-4.align-self-center.text-center 
                                a(href="media/documentos/Anexo_ABCDARIO.pdf" target="_blank")
                                    img(src="assets/images/icons/pdf.svg").w-75
                            .col-8.align-self-center.py-4 
                                p Para conocer cómo se desarrollan los pasos del manejo hospitalario en los niños de 0 a 6 meses de edad, a través de las tres fases del tratamiento descritas, revise el contenido asociado con cada letra, y que se encuentra en el PDF.
                            .col-2.py-4.align-self-center.text-center
                                img(src="assets/images/icons/www.svg").w-75
                .row.mt-5 
                    .col-12 
                        h3 Criterios de egreso de hospitalización
                        p.mt-3 De acuerdo con las recomendaciones de la OMS, se plantean los siguientes criterios de egreso:
                    .col-12.mt-5 
                        .row.ml-2 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 1
                            .col-11.align-self-center 
                                p Se encuentran resueltas las condiciones patológicas, incluyendo el edema.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 2
                            .col-11.align-self-center 
                                p El niño se encuentra clínicamente bien y alerta.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 3
                            .col-11.align-self-center 
                                p Se alimenta con lactancia materna exclusiva.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 4
                            .col-11.align-self-center 
                                p El niño presenta buen apetito dado por succión fuerte y lactancia a libre demanda.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 5
                            .col-11.align-self-center 
                                p Se identifican signos de buena posición y buen agarre en la práctica de lactancia materna.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 6
                            .col-11.align-self-center 
                                p La madre y el cuidador se encuentran empoderados y seguros en relación a cómo alimentar a su hijo.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 7
                            .col-11.align-self-center 
                                p La ganancia de peso del niño es satisfactoria por mínimo tres días consecutivos, tanto para quienes son alimentados con lactancia materna exclusiva, como en los niños y niñas que presentan condiciones especiales y requieren fórmula láctea de inicio.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 8
                            .col-11.align-self-center 
                                p Si el niño no es amamantado, se asegura disponibilidad de fórmula láctea de inicio, suficiente hasta el próximo control en el marco de la normatividad vigente. Así mismo, es fundamental que madre y cuidador hayan preparado la fórmula láctea de inicio y alimenten al niño bajo supervisión de los profesionales tratantes, durante la hospitalización.
                        .row.ml-2.mt-4 
                            .col-1
                                h2.bg-naranja.rounded-circle.mb-0.py-2.px-3.text-white(style="max-width:fit-content") 9
                            .col-11.align-self-center 
                                p Ha recibido valoración y continuo seguimiento por equipo de psicología y trabajo social.
                        .row.ml-1.mt-4 
                            .col-1
                                h2.ml-2.py-2.px-2.bg-naranja.rounded-circle.mb-0.text-white(style="max-width:fit-content") 10
                            .col-11.align-self-center 
                                p Se garantiza seguimiento ambulatorio entre los 3 a 5 días posteriores al egreso y de forma semanal hasta que se recupere.
                        .row.ml-1.mt-4 
                            .col-1
                                h2.ml-2.py-2.px-2.bg-naranja.rounded-circle.mb-0.text-white(style="max-width:fit-content") 11
                            .col-11.align-self-center 
                                p El niño cuenta con el esquema de vacunación actualizado para la edad.
                        .row.ml-1.mt-4 
                            .col-1
                                h2.ml-2.py-2.px-2.bg-naranja.rounded-circle.mb-0.text-white(style="max-width:fit-content") 12
                            .col-11.align-self-center 
                                p Debe egresar con cita asignada para consulta de valoración integral de la primera infancia, siendo ésta diferente a las consultas de seguimiento.
                        .row.ml-1.mt-4 
                            .col-1
                                h2.ml-2.py-2.px-2.bg-naranja.rounded-circle.mb-0.text-white(style="max-width:fit-content") 13
                            .col-11.align-self-center 
                                p La madre o el cuidador continúan el apoyo con consejería en lactancia materna y alimentación complementaria.
                        .row.ml-1.mt-4 
                            .col-1
                                h2.ml-2.py-2.px-2.bg-naranja.rounded-circle.mb-0.text-white(style="max-width:fit-content") 14
                            .col-11.align-self-center 
                                p Diligenciamiento de la ficha de notificación obligatoria en el Sistema de Vigilancia Epidemiológica - SVE establecido.
    .card
        .card-body.px-4.mt-5
            .container.mb-4             
                .sub-ecored
                    h2#tema-22.texto-naranja 2.2. Manejo ambulatorio para niños y niñas de 0 a 6 meses de edad
                .row.mt-5 
                    .col-5
                        img(src="assets/images/pages/tema-2/tema-2-4.svg").w-100
                    .col-6.ml-4px-0
                        p En este grupo de edad, el seguimiento es fundamental para poder asegurar la adecuada evolución y evidenciar la recuperación. Razón por la cual se requiere que el primer control ambulatorio por el especialista en pediatría, se realice entre los 3 a 5 días después del alta hospitalaria, y debe ser realizado por la institución prestadora de salud de la cual egresó el niño. Posteriormente, requerirá valoración semanal por equipo interdisciplinario de profesionales en enfermería, nutrición y medicina, hasta asegurar que cumple con los criterios de egreso del manejo ambulatorio.
                .row.mt-2 
                    .col-8.align-self-center
                        p Los niños y niñas deben continuar con lactancia materna exclusiva hasta el sexto mes de edad; las madres de los niños y niñas entre 4 y 6 meses, se encuentran en el momento en el que requieren asesoría en el inicio y continuación de la alimentación complementaria, la cual se iniciará a partir del sexto mes. Si al momento del egreso, tiene más de 6 meses, debe orientarse a la madre, durante la hospitalización, sobre alimentación complementaria, haciendo énfasis en la importancia de continuar con la lactancia materna hasta los dos años o más. Siempre utilice habilidades y técnicas en consejería, incluso realice demostraciones relacionadas con este proceso.
                    .col-4.pl-3 
                        img(src="assets/images/pages/tema-2/tema-2-5.svg").w-75
                .row.mt-5 
                    .col-12 
                        h3 Criterios para la consulta de seguimiento
                        p.mt-4 En cada una de las consultas de seguimiento se debe realizar:
                .row.mt-5
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Valoración clínica y antropométrica del niño.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Evaluación de la salud de la madre o cuidador, tanto en aspectos físicos como emocionales, identificando factores favorecedores o de riesgo para la continuación de la lactancia materna.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Evaluación de la relación entre el niño y la madre o cuidador.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Valoración de la técnica de lactancia materna y observación de la alimentación.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p En los niños y niñas no amamantados, observación de la técnica de alimentación y verificación de la preparación de la fórmula láctea de inicio.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Incremento progresivo peso y longitud de acuerdo con ganancia esperada para su edad.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Evaluación de un plan de cuidado, elaborado al egreso de la hospitalización.
                    .col-6.mt-5.offset-3 
                        img(src="assets/images/pages/tema-2/tema-2-6.svg").w-100
                .row.mt-5 
                    .col-12 
                        h3 Criterios de egreso de manejo ambulatorio                        
                .row.mt-5
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p La alimentación mediante lactancia materna es eficaz y satisfactoria.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p En caso de no poder ser amamantado, se alimenta con fórmula láctea de inicio, sin dificultades y de acuerdo con las indicaciones de los profesionales tratantes.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p El aumento de peso es progresivo y de acuerdo con la ganancia esperada para su edad.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p La puntuación Z de P/L es igual o superior a -2 DE.
                .row.mt-5 
                    .col-12 
                        h3 Criterios de hospitalización del niño en seguimiento ambulatorio.
                        p.mt-4 Requerirá remitirse de nuevo a institución hospitalaria si se presenta:                         
                .row.mt-5
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Alteración del estado de conciencia o convulsiones.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Vomita todo o rechaza la vía oral.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Diarrea.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Aumento de la frecuencia respiratoria para la edad, o se le hunde el pecho al respirar, o tiene ruidos raros al respirar.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Lesiones en la piel.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Edema.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Condición médica o social de la familia que ponga en riesgo el cuidado del niño.
                .row.mt-2
                    .col-1.text-right 
                        img.fluid(src="assets/images/icons/vineta.svg")
                    .col-10.align-self-center
                        p Si durante las valoraciones, el niño no gana peso, o lo pierde.